{% extends 'base.html' %}

{% block title %}
  Shop Index
{% endblock %}

{% block body %}
  <div>
    <h1>Shop index</h1>
  </div>

  <div>
    <p>Links:</p>
    <ul>
      <li>
        <a href="{% url 'shop_projects:projects' %}">Projects</a>
      </li>
      <li>
        <a href="{% url 'shop_projects:categories' %}">Categories</a>
      </li>
      <li>
        <a href="{% url 'shop_projects:creators' %}">Creators</a>
      </li>
      <li>
        <a href="{% url 'shop_projects:donats' %}">Donats</a>
      </li>
    </ul>
  </div>
{% endblock %}


