{% extends 'base.html' %}

{% block title %}
  Donats
{% endblock %}

{% block body %}
    <h3>Donats</h3>

      <ul>
        {% for donat in donats %}
          <li>
            <p>
            #{{ donat.id }}
            <code>(${{ donat.money }})</code></p>
            <p><strong>Donated at:</strong> {{ donat.created_at }}</p>
            <ul>
              {% for project in donat.projects.all %}
                <li>#{{ project.pk }} {{ project.name }}</li>
              {% endfor %}
            </ul>
            <p><strong>Donated by</strong> {{ donat.user }}</p>
          </li>
        {% endfor %}
      </ul>

{% include 'macros/back_to_index.html' %}

{% endblock %}