{% extends 'base.html' %}

{% block title %}
  Shop Index
{% endblock %}

{% block body %}
  <div>
    <h1>Shop index</h1>
    <h3>Projects:</h3>
    <ul>
      {% for project in projects %}
        <li>
          {{ project.name }}
          [{{ project.category.name }}]
          -
          <code>${{ project.price }}</code>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <p>Links:</p>
    <ul>
      <li>
        <a href="{% url 'shop_projects:categories_with_products_tree' %}">Categories with projects</a>
      </li>
      <li>
        <a href="{% url 'shop_projects:creators_with_products' %}">Creators with projects</a>
      </li>
    </ul>
  </div>
{% endblock %}