{% extends 'base.html' %}

{% block title %}
  Create user
{% endblock %}

<!--  Импорты необходимых макросов      -->
{% from "macros/display_fill_form.html" import display_fill_form %}
{% from "macros/display_form_errors.html" import display_form_errors %}

{% block head %}
{% endblock %}

{% block body %}
<h3>Create a new user:</h3>
<div>
  <form method="post">

<!--  Выводим все поля для заполнения      -->
    <div class="my-3">
        {{ form.hidden_tag() }}
    </div>

    <div class="my-2">
        {{ display_fill_form(form) }}
    </div>

<!--  Красивый вывод ошибок полей      -->
    <div class="my-2">
        {{ display_form_errors(form) }}
    </div>


<!--  Кнопка добавления юзера      -->
    <input class="btn btn-primary" type="submit" name="add-button" value="add">
  </form>
</div>

<!--  Ссылка для перехода к списку юзеров      -->
<div class="mt-2">
    <a href="{{ url_for('users_app.list') }}">
    Back to users
    </a>
</div>

{% endblock %}