{% extends 'base.html' %}

{% block title %}
Confirm delete product {{ product.name }}
{% endblock %}

{% block head %}
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/buttons.css') }}"
  >
{% endblock %}

{% block body %}
<h3>Are you sure you want to delete <strong>{{ product.name }}</strong></h3>
<h3>This cannot be undone!</h3>

<div>
    <a href="{{ url_for('users_app.details', product_id=product.id) }}">
    Back to Users
    </a>
</div>
<br>
<div>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input class="btn btn-danger" type="submit" value="Delete">
    </form>
</div>
{% endblock %}