{% extends 'base.html' %}

{% block title %}
{{ class_name }} №{{ product.id }} info
{% endblock %}

{% from "macros/show-flashed-mess.html" import show_flashed_mess_with_cat %}
{% from "macros/display_model_details.html" import display_model_details %}

{% block body %}

{{ show_flashed_mess_with_cat() }}

<h3 class="my-3">{{ class_name }} is {{ product.name }}</h3>

{{ display_model_details(product, private_names) }}



<!-- Отображаем посты юзера  -->
<a class="btn btn-secondary dropdown-toggle btn-lg my-2 me-3"
   href="#"
   role="button"
   data-bs-toggle="dropdown"
   aria-expanded="false">
  Posts
</a>
<ul class="dropdown-menu">
    {% for post  in posts %}
        <li><a class="dropdown-item"
               href="{{ url_for('posts_app.details', product_id=post.id) }}">
            {{ post.title }}</a></li>
    {% endfor %}
</ul>

<br>

<!-- Кнопки перехода на другие страницы  -->
<div class="btn-group">
    <div>
        <a class="btn btn-danger my-2  me-3" href="{{ url_for('users_app.confirm-delete', product_id=product.id) }}">
        Delete {{ class_name }}
        </a>
    </div>

    <div class="my-2">
        <a class="btn btn-outline-primary"  href="{{ url_for('users_app.list') }}">
        To {{ class_name }}s list
        </a>
    </div>
</div>

{% endblock %}