{% extends 'base.html' %}

{% block title %}
Users list
{% endblock %}

{% from "macros/show-flashed-mess.html" import show_flashed_mess_with_cat %}

{% block body %}
<h2>Users list</h2>

{{ show_flashed_mess_with_cat() }}

<ul class="list-group my-1">
    {% if products %}
        <h3>Products:</h3>
        {% for product in products %}
            <a
            class="list-group-item btn-link"
            href="{{ url_for('users_app.details', product_id=product.id) }}">
            {{ product.name }}
            </a>

        {% endfor %}
    {% else %}
        <h3>No users</h3>
    {% endif %}

    <div class="space-top my-1">
        <a class="no_underline"
        href="{{ url_for('users_app.add') }}">Add new</a>
    </div>

</ul>
{% endblock %}