{% extends 'base.html' %}

{% block title %}
{{ class_name }}s list
{% endblock %}

{% from "macros/show-flashed-mess.html" import show_flashed_mess_with_cat %}

{% block body %}

<!-- Отображаем flashed сообщения  -->
{{ show_flashed_mess_with_cat() }}

<h2>{{ class_name }}s:</h2>

<ul class="list-group my-1">
    {% if products %}
        {% for product in products %}
            <a
            class="list-group-item btn-link"
            href="{{ url_for('users_app.details', product_id=product.id) }}">
            {{ product.name }}
            </a>

        {% endfor %}
    {% else %}
        <h3>No {{ class_name }}s</h3>
    {% endif %}

    <div class="space-top my-3">
        <a class="btn btn-primary"
        href="{{ url_for('users_app.add') }}">Add new</a>
    </div>

</ul>
{% endblock %}